[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
pysine = "*"
pyaudio = "*"
matlabengine = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = ">= python 3.9"